$color-error: #691A02;
.field {
    display: block;
    text-align: unset;

    .label {
      font-size: small;
      text-align: left;
      color: #fff;
      display: block;
      margin-bottom: -0.2rem;
      &--error {
        color: #e86b6b;
      }
    }

    .input{
      z-index: 1;
      background-color: #fff;
      border: none;
      display: inline-flex;
      padding: .3rem;
      padding-left: .7rem;
      margin: .2rem 0;
      color: #808080;
      &--error {
        border-color: #e86b6b;
        background: rgba(253, 166, 166, 0.25);
        transform: translate3d(0, 0, 0);
        color: $color-error;
        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $color-error !important;
          opacity: 1;
          /* Firefox */
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $color-error !important;
        }

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $color-error !important;
        }        
      }
    }
    
    .message-error {
     // background: #CC5636;
      margin-top: -1rem;
      font-size: small;
      border-radius: 5px;
      padding: .3rem 1rem;
      color: #CC5636;
      display: block;
      transition: all 2s;
      -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    
    .shake{
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    
    }    
  }