.component-form-signup{
  
  .message-error {
    background: #CC5636;
    font-size: small;
    border-radius: 5px;
    padding: .3rem 1rem;
    color: #FFEFEB;
    display: block;
    transition: all 2s;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  button{
    background: #FFAF3B;
    border: 0.5px solid #FFAF3B;        
    border-radius: 60px;
    color: #fff;
    padding: .5em 2em;
    svg {
      font-size: 1.5em;
      margin-right: .5em;        
    }
  }
  .form-check{
    max-width: 245px;
    .form-check-label{
      color: #fff;
      font-size: x-small;
      strong{
        color: #008E8F;
      }
    }
  }
} 
@media (max-width: 768px) {
  .content-form{
    margin: auto;
    width: fit-content;
  }
}