.component-form-login {
  background-color: #e5e5e5;
  background-image: url("assets/images/map.svg");
  background-position: center center;
  background-repeat: no-repeat;
  .content {
    padding-top: 10%;
    padding-bottom: 10%;
    background: linear-gradient(351deg, rgba(96, 177, 178, 0.4) 0, rgba(255, 255, 255, 1)100%);    
  }

  .container-add {
    text-align: right;

    img {    
      height: 18rem;
    }
  }

  .login {
    border-radius: 5px;
    margin: auto;
    text-align: center;

    p {
      color: #808080;
      margin-bottom: 0;

      strong {
        color: #008E8F;
      }
    }

    h2 {
      color: #888888;
      font-weight: 600;
    }

    button {
      background: #151F29;
      border: 0.5px solid #151F29;
      border-radius: 60px;
      padding: .5em 3em;
      color: #fff;

      svg {
        margin-right: 1em;
      }
    }

    .lb-forgot-password {
      color: #60B0B2;
      font-size: small;
    }

    .close-error {
      position: relative;
      left: -8px;
      top: -16px;
    }

    .message-error {
      background: #CC5636;
      font-size: small;
      border-radius: 5px;
      padding: .3rem 1rem;
      color: #FFEFEB;
      display: inline-block;
      transition: all 2s;
      -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .shake{
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
      -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

    }
    @keyframes shake {

      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        transform: translate3d(4px, 0, 0);
      }
    }

    @keyframes slide-right {
      0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
      }

      100% {
        -webkit-transform: translateX(1em);
        transform: translateX(.2em);
        opacity: 1;
      }
    }
  } 
}
@media (min-width: 768px) {
  .component-form-login{
    height: 700px;
    background-size: 60%;
  }
  .content{
    background: linear-gradient(351deg, rgba(229, 229, 229, .8) 0%, rgba(229, 229, 229, 1) 100%)!important;
    height: -webkit-fill-available;
  }
  .login{
    text-align: left!important;
  }
}
