@import "src/index.scss";

@import "src/components/redux-forms/field/style.scss";
@import "src/components/redux-forms/login/style.scss";
@import "src/components/redux-forms/signup/style.scss";
@import "src/components/redux-forms/signup-person-kit/style.scss";
@import "src/components/layout/footer/style.scss";
@import "src/components/layout/header-public/style.scss";
@import "src/components/layout/header-private/style.scss";
@import "src/components/pay-module/style.scss";

@import "src/scenes/Dashboard/style.scss";